@{
	ViewData["Title"] = "Información";
	var modelo = new ModeloPrueba();
	var s = modelo.ObtenerPersona();
	var nombre = s.nombre + " " + s.apellido;
	var s2 = modelo.ObtenerPersonas();
	int mitad = s2.Count / 2;
	List<Persona> primeraMitad = s2.Take(mitad).ToList();
	List<Persona> segundaMitad = s2.Skip(mitad).ToList();
}
<div class="container mt-5 p-5 mb-5">

	<h1>@ViewData["Title"]</h1>

	<p>
		<strong>Autor: @Html.Raw(nombre)</strong>
	</p>
	<p>
		¡Bienvenidos a mi página web! Aquí, he utilizado el patrón Modelo Vista Control (MVC) junto con C# y .NET para crear una plataforma de práctica académica centrada en la cursada de Poo3.
		En esta página, podrás acceder a una visión detallada del curso de Programación Orientada a Objetos III. Te proporciono información sobre el docente, compañeros de clase y el contenido visto durante esta cursada.
		Esta plataforma ayudará a mantener un registro organizado de los aspectos de la cursada.
	</p>
	<br />

			<h2 class="mb-2">Alumnos cursando</h2>
			<div class="row">
				<div class="col">
					@foreach (var unaPersona in primeraMitad)
					{
						<li> @unaPersona.nombre @unaPersona.apellido  </li>
					}
				</div>
				<div class="col">
					@foreach (var unaPersona in segundaMitad)
					{
						<li> @unaPersona.nombre @unaPersona.apellido  </li>
					}
				</div>
			</div>
	<br />
			<h2 class="mb-2">Docente a cargo</h2>
			<li>Jose Luis Cabrera</li>

	<br />
	<h2 class="mb-2">Institución Educativa</h2>
	<li>Universidad Nacional del Oeste (<a href="uno.edu.ar/index.php">UNO</a>)</li>


</div>